﻿@{
    ViewBag.Title = "Home Page";
}




<div style="width:90%" ; margin:0 auto>
    <table id="myDataTable">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Pais</th>
            </tr>
        </thead>
    </table>

</div>



@section scripts{
 
    <script>
        $(document).ready(function () {
            $('#myDataTable').DataTable({
                "ajax": {
                    "url": '/home/GetInformation',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID", "autoWidth": true },
                    { "data": "Name", "autoWidth": true },
                    { "data": "CountryCode", "autoWidth": true },
                    
                ]
            });
        });
    </script>
}


